/************

Colors

************/

$dark-blue: #144F71;
$blue: #1B9CFA;
$blue2: #1b88fa;
$light-blue: #9ed5fb;
$dark-grey: #231F20;
$medium-grey: #6D6E70;
$light-grey: #E5E5E5;
$extra-light-grey: #E6E6E6;
$orange: #FA6622;
$green: #19a743;
$green2: #1d9c34;
$red: #e62319;
$purple: #9d29ba;
$teal: #1fc0bf;
$yellow: #fbc124;

$greater-color: #33b8f2;
$less-color: #81d102;
$none-color: #ff8b00;



